<div id="<%= dom_id compte_client %>">
  
  <p>
    <strong>Type compte:</strong>
    <%= compte_client.type_compte %>
  </p>

  <p>
    <strong>Numero compte:</strong>
    <%= compte_client.numero_compte %>
  </p>

  <p>
    <strong>Code compte:</strong>
    <%= compte_client.code_compte %>
  </p>

  <p>
    <strong>Solde:</strong>
    <%= compte_client.solde %>
  </p>

  <p><%= link_to "Editer solde", edit_compte_client_path(compte_client), class: "text-blue-500" %> </p>

</div>
