<%= form_with(model: compte_client) do |form| %>
  <% if compte_client.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(compte_client.errors.count, "error") %> prohibited this compte_client from being saved:</h2>

      <ul>
        <% compte_client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :client_id, class: "w-full rounded-lg h-[30px] hidden" %>
 
  <div class="grid grid-cols-6 gap-4">

    <div class="col-span-3">
      <%= form.label :type_compte, style: "display: block" %>
      <%= form.select :type_compte, options_for_select([
        ["Courant", "courant"],
        ["Epargne", "epargne"]
      ]), { include_blank: true }, class: "w-full rounded-lg h-[35px]" %>
    </div>

    <div class="col-span-3">
      <%= form.label :numero_compte, style: "display: block" %>
      <%= form.text_field :numero_compte, class: "w-full rounded-lg h-[35px]" %>
    </div>

  </div>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-4">
      <%= form.label :code_compte, style: "display: block" %>
      <%= form.number_field :code_compte, class: "w-full rounded-lg h-[35px]" %>
    </div>

    <div class="col-span-2">
      <%= form.label :solde, style: "display: block" %>
      <%= form.text_field :solde, value: 0, class: "w-full rounded-lg h-[35px]" %>
    </div>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
