<%= form_with(model: virement) do |form| %>
  <% if virement.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(virement.errors.count, "error") %> prohibited this virement from being saved:</h2>

      <ul>
        <% virement.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-2">
    <%= form.label :montant, style: "display: block" %>
    <%= form.text_field :montant, class: "h-[30px] rounded shadow" %>
  </div>

  <div class="mb-2">
    <%= form.label :date_jour, style: "display: block" %>
    <%= form.date_field :date_jour, class: "h-[30px] rounded shadow" %>
  </div>

  <div class="mb-2">
    <%= form.label :emeteur_id, style: "display: block" %>
    <%= form.select :emeteur_id, CompteClient.all.collect { | compte | 
        [ "#{compte.client.nom} #{compte.client.prenom}", compte.id ] }, prompt: "Sélectionnez l'emeteur",  class: "w-full rounded-lg h-[35px] shadow" %>
  </div>

  <div class="mb-2">
    <%= form.label :receveur_id, style: "display: block" %>
    <%= form.select :receveur_id, CompteClient.all.collect { | compte | 
        [ "#{compte.client.nom} #{compte.client.prenom}", compte.id ] }, prompt: "Sélectionnez le receveur",  class: "w-full rounded-lg h-[35px] shadow" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
