<div id="<%= dom_id virement %>">
  <p>
    <strong>Montant:</strong>
    <%= virement.montant %>
  </p>

  <p>
    <strong>Date jour:</strong>
    <%= virement.date_jour %>
  </p>

  <p>
    <strong>Emeteur:</strong>
    <%= virement.emeteur_id %>
  </p>

  <p>
    <strong>Receveur:</strong>
    <%= virement.receveur_id %>
  </p>

</div>
