
<div class="grid grid-cols-6 gap-4">
  <div class="col-span-3"><%= render partial: "table", locals: { client: @client } %></div>

  <div class="col-span-3">
      <% if @compte %>
        <%= render partial: "compte_clients/compte_client", locals: {compte_client: @client.compte_clients.first} %>
      <% end %>
  </div>
</div>

<div class="py-4">
  <div class="flex justify-between">
    <div>
      <button class="bg-blue-500 text-white h-[30px] text-[14px] px-4 py-[2px] rounded mr-2" onclick="openPopupCompte()">créer compte</button>
    
    </div>
    <div>
      <button class="bg-blue-500 text-white h-[30px] text-[14px] px-4 py-[2px] rounded mr-2" onclick="openPopup()">Credit</button>
      <button class="bg-blue-500 text-white h-[30px] text-[14px] px-4 py-[2px] rounded mr-2" onclick="openPopupVire()">Virement</button>
      <button class="bg-blue-500 text-white h-[30px] text-[14px] px-4 py-[2px] rounded" onclick="openPopupTrans()">Transaction</button>
    </div>
  </div>
  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-3">
      <div>Transactions</div>
      <div>
        <table class="w-full text-[14px]">
          <thead>
              <tr class="border-b-[1px] border-gray-400">
                  <th>Transaction</th>
                  <th>Montant</th>
                  <th>Date</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
            <% @compte.transactions.each do |transaction| %>
              <tr class="border-b-[1px] border-gray-400 text-center text-[14px]">
                <td><%= transaction.type_transaction %></td>
                <td><%= transaction.montant %></td>
                <td><%= transaction.date_transaction %></td>
                <td><%= link_to "Voir", transaction, class: "rounded-lg py-[2px] px-2 text-white text-[12px] bg-blue-500 font-medium" %></td>
              </tr>
            <% end %>           
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-span-3">
      <div>Credits</div>
      <div>
        <table class="w-full text-[14px]">
          <thead>
              <tr class="border-b-[1px] border-gray-400">
                  <th>Montant</th>
                  <th>Interet</th>
                  <th>Reste</th>
              </tr>
          </thead>
          <tbody>
            <% @client.credits.each do |credit| %>
              <tr class="border-b-[1px] border-gray-400 text-center text-[14px]">
                <td><%= credit.montant %></td>
                <td><%= credit.taux_interet %></td>
                <td><%= credit.reste_non_paye %></td>
              </tr>
            <% end %>       
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%# Credit %>
<div id="myPopup" class="fixed inset-0 flex items-center justify-center z-10 hidden">
  <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
    <span class="close cursor-pointer text-gray-500" onclick="closePopup()">&times;</span>
    <p>Credits</p>
    <%= render 'credits/form', credit: @credit %>
  </div>
  <div class="fixed inset-0 bg-black opacity-50"></div>
</div>

<%# Virement %>
<div id="myPopupVire" class="fixed inset-0 flex items-center justify-center z-10 hidden">
  <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
    <span class="close cursor-pointer text-gray-500" onclick="closePopupVire()">&times;</span>
    <p>Virements</p>
    <%= render 'virements/form', virement: @virement %>
  </div>
  <div class="fixed inset-0 bg-black opacity-50"></div>
</div>

<%# Transaction %>
<div id="myPopupTrans" class="fixed inset-0 flex items-center justify-center z-10 hidden">
  <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
    <span class="close cursor-pointer text-gray-500" onclick="closePopupTrans()">&times;</span>
    <p>Transactions</p>
    <%= render 'transactions/form', transaction: @transaction %>
  </div>
  <div class="fixed inset-0 bg-black opacity-50"></div>
</div>

<%# Create account %>
<div id="myPopupCompte" class="fixed inset-0 flex items-center justify-center z-10 hidden">
  <div class="bg-white rounded-lg shadow-lg p-6 z-50 max-w-sm w-full">
    <span class="close cursor-pointer text-gray-500" onclick="closePopupCompte()">&times;</span>
    <p>Créeer un compte</p>
    <%= render 'compte_clients/form', compte_client: @compte_client %>
  </div>
  <div class="fixed inset-0 bg-black opacity-50"></div>
</div>

<script>
  function openPopup() {
    document.getElementById("myPopup").classList.remove("hidden");
  }
    
  function closePopup() {
      document.getElementById("myPopup").classList.add("hidden");
  }

  function openPopupVire() {
    document.getElementById("myPopupVire").classList.remove("hidden");
  }
    
  function closePopupVire() {
      document.getElementById("myPopupVire").classList.add("hidden");
  }

  function openPopupTrans() {
    document.getElementById("myPopupTrans").classList.remove("hidden");
  }
    
  function closePopupTrans() {
      document.getElementById("myPopupTrans").classList.add("hidden");
  }

   function openPopupCompte() {
    document.getElementById("myPopupCompte").classList.remove("hidden");
  }
    
  function closePopupCompte() {
      document.getElementById("myPopupCompte").classList.add("hidden");
  }
</script>
<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>

  <%= button_to "Destroy this client", @client, method: :delete, class: 'text-red-500' %>
</div>
