<div id="<%= dom_id credit %>">
  <p>
    <strong>Client:</strong>
    <%= credit.client_id %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= credit.montant %>
  </p>

  <p>
    <strong>Taux interet:</strong>
    <%= credit.taux_interet %>
  </p>

  <p>
    <strong>Date debut:</strong>
    <%= credit.date_debut %>
  </p>

  <p>
    <strong>Date fin:</strong>
    <%= credit.date_fin %>
  </p>

  <p>
    <strong>Reste non paye:</strong>
    <%= credit.reste_non_paye %>
  </p>

</div>