
<tr id="<%= dom_id credit %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td><%= credit.client.nom %></td>
  <td><%= credit.montant %></td>
  <td><%= credit.taux_interet %></td>
  <td><%= credit.date_debut %> - <%= credit.date_fin %></td>
  <td><%= credit.reste_non_paye %></td>
  <td>
    <%= link_to "Voir", credit, class: "rounded-lg py-[2px] px-2 text-white text-[12px] bg-blue-500 font-medium" %>
  </td>
</tr>

