<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-6 gap-4">
    <div class="col-span-3">
      <%= form.label :type_transaction, style: "display: block" %>
      <%= form.text_field :type_transaction, class: "h-[30px] rounded shadow w-full" %>
    </div>

    <div class="col-span-3">
      <%= form.label :montant, style: "display: block" %>
      <%= form.text_field :montant, class: "h-[30px] rounded shadow w-full" %>
    </div>
  </div>

  <div class="mb-2">
    <%= form.label :compte_client_id, style: "display: block" %>
    <%= form.text_field :compte_client_id, class: "h-[30px] rounded shadow" %>
  </div>

  <div class="mb-2">
    <%= form.label :date_transaction, style: "display: block" %>
    <%= form.date_field :date_transaction, class: "h-[30px] rounded shadow" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
