<div id="<%= dom_id transaction %>">
  <p>
    <strong>Type transaction:</strong>
    <%= transaction.type_transaction %>
  </p>

  <p>
    <strong>Montant:</strong>
    <%= transaction.montant %>
  </p>

  <p>
    <strong>Compte client:</strong>
    <%= transaction.compte_client_id %>
  </p>

  <p>
    <strong>Date transaction:</strong>
    <%= transaction.date_transaction %>
  </p>

</div>
