
<tr id="<%= dom_id transaction %>" class="border-b-[1px] border-gray-400 text-center text-[14px]">
  <td>jerry nkafu</td>
  <td><%= transaction.type_transaction %></td>
  <td><%= transaction.montant %></td>
  <td><%= transaction.compte_client.numero_compte %></td>
  <td><%= transaction.date_transaction %></td>
  <td>
    <%= link_to "Voir", transaction, class: "rounded-lg py-[2px] px-2 text-white text-[12px] bg-blue-500 font-medium" %>
  </td>
</tr>
